<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <!--<section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarMonitor">
                            <i class="fas fa-plus"></i> [[#{monitor.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>-->

        <!-- 2 Fragmento para agregar monitor, es la ventana modal -->
        <section th:fragment="agregarMonitor">
            <div id="agregarMonitor" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{monitor.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/monitor/guardar}" th:object="${monitor}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="idCategoria">[[#{monitor.categoria}]]</label>
                                    <select class="form-select" aria-label="Default select example"
                                            name="categoria.idCategoria">
                                        <option th:each="c : ${categorias}"
                                                th:value="${c.idCategoria}"
                                                th:text="${c.descripcion}">
                                        </option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="descripcion">[[#{monitor.descripcion}]]</label>
                                    <input type="text" class="form-control" name="descripcion" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="detalle">[[#{monitor.detalle}]]</label>
                                    <textarea class="form-control" name="detalle" rows="3"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="precio">[[#{monitor.precio}]]</label>
                                    <input type="number" class="form-control" name="precio"/>
                                </div>
                                <div class="mb-3">
                                    <label for="existencias">[[#{monitor.existencias}]]</label>
                                    <input type="number" class="form-control" name="existencias"/>
                                </div>
                                <div class="mb-3">
                                    <label for="imagen">[[#{monitor.imagen}]]</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>
                                <div class="mb-3">
                                    <label for="activo">[[#{monitor.activo}]]</label>
                                    <input class="form-check-input" type="checkbox" name="activo" id="activo"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informaccion de la entidad monitor -->
        <section th:fragment="listadoMonitores" id="monitores">
            <div class="container">
                <div class="row" style="width: 1500px">
                    <div class="col-md-9" style="margin-top: 120px">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{monitor.listado}]]</h4>
                            </div>
                            <div th:if="${monitores != null and !monitores.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th>[[#{monitor.descripcion}]]</th>
                                            <th>[[#{monitor.precio}]]</th>
                                            <th>[[#{monitor.existencias}]]</th>
                                            <th>[[#{monitor.total}]]</th>
                                            <th>[[#{monitor.activo}]]</th>
                                            <th>[[#{monitor.categoria}]]</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="monitor, contador : ${monitores}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${monitor.descripcion}]]</td>
                                            <td class="text-end">[[${monitor.precio}]]</td>
                                            <td class="text-center">[[${monitor.existencias}]]</td>
                                            <td class="text-end">[[${monitor.precio*monitor.existencias}]]</td>
                                            <td th:text="${monitor.activo} ? 'Activa' : 'Inactiva'" />
                                            <td>[[${monitor.categoria.descripcion}]]</td>
                                            <td>
                                                <a th:href="@{/monitor/eliminar/}+${monitor.idMonitor}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a>
                                                <a th:href="@{/monitor/modificar/}+${monitor.idMonitor}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]</a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${monitores == null or monitores.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top: 120px">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>[[#{monitor.total}]]</h3>
                                <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalMonitores}]]</h4>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">   
                                    <button 
                                        type="button" 
                                        class="btn btn-primary btn-block" style="width: 325px"
                                        data-bs-toggle="modal" 
                                        data-bs-target="#agregarMonitor">
                                        <i class="fas fa-plus"></i> [[#{monitor.agregar}]]
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarMonitor">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8" style="margin-top: 120px">
                    <form method="POST"
                          th:action="@{/monitor/guardar}" 
                          th:object="${monitor}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idMonitor" th:field="*{idMonitor}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="descripcion">[[#{monitor.descripcion}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="descripcion" th:field="*{descripcion}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="detalle">[[#{monitor.detalle}]]</label>
                                                    <textarea class="form-control" 
                                                              name="detalle" 
                                                              rows="3"></textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="precio">[[#{monitor.precio}]]</label>
                                                    <input type="number"
                                                           class="form-control"
                                                           name="precio"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="existencias">[[#{monitor.existencias}]]</label>
                                                    <input type="number"
                                                           class="form-control"
                                                           name="existencias"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="rutaImagen">[[#{monitor.rutaImagen}]]</label>
                                                    <input class="form-control" type="file" name="imagenFile"
                                                           onchange="readURL(this);" />
                                                    <img id="blah" th:src="@{${monitor.rutaImagen}}" alt="your image" height="200"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="activo">[[#{monitor.activo}]]</label>
                                                    <input class="form-check-input" 
                                                           type="checkbox" 
                                                           name="activo" 
                                                           id="activo"
                                                           th:field="*{activo}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
            <section th:replace="~{monitor/fragmentos :: botonesEditar}"/>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light" style="display: flex; justify-content: center; width: 1240px; border-radius: 5px; margin-top: 20px">
                <div class="row">
                    <div class="col-md-4 d-grid" style="width: 285px">
                        <a th:href="@{/monitor/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid" style="width: 285px">                                
                        <a th:href="@{/monitor/eliminar/}+${monitor.idMonitor}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid" style="width: 285px">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>