<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button"
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarResenas">
                            <i class="fas fa-plus"></i> [[#{resenas.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="agregarResenas">
            <div id="agregarResenas" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{resenas.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/Resenas/guardar}" th:object="${resenas}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="resenasD">[[#{resenas.resenasD}]]</label>
                                    <input type="text" class="form-control" name="resenasD" required="true"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Resto del código permanece igual -->


        <!-- 3 Sección principal para mostrar la informaccion de la entidad resenas -->
        <section th:fragment="listadoResenas" id="resenas">
            <div class="container">
                <div class="row">
                    <div class="col-md-9" style="margin-top: 120px">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{resenas.listado}]]</h4>
                            </div>
                            <div th:if="${resenas != null and !resenas.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-white">                                     
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="resenas, contador : ${resenas}">
                                            <td>[[${resenas.resenasD}]]</td>
                                            <td>
                                                <a th:href="@{/Resenas/eliminar/}+${resenas.idResenas}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminarR}]]</a>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${resenas == null or resenas.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-top: 120px">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>[[#{resenas.total}]]</h3>
                                <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalResenas}]]</h4>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">   
                                    <button 
                                        type="button"
                                        class="btn btn-primary btn-block" style="width: 285px"
                                        data-bs-toggle="modal" 
                                        data-bs-target="#agregarResenas">
                                        <i class="fas fa-plus"></i> [[#{resenas.agregar}]]
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarResenas">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8" style="margin-top: 120px">
                    <form method="POST"
                          th:action="@{/Resenas/guardar}" 
                          th:object="${resenas}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idResenas" th:field="*{idResenas}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="resenasD">[[#{resenas.resenasD}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="resenasD" th:field="*{resenasD}"
                                                           required="true">
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
            <section th:replace="~{resenas/fragmentos :: botonesEditar}"/>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light" style="display: flex; justify-content: center; width: 1250px; border-radius: 5px; margin-top: 30px">
                <div class="row">
                    <div class="col-md-4 d-grid" style="width: 285px">
                        <a th:href="@{/resenas/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid" style="width: 285px">                                
                        <a th:href="@{/Resenas/eliminar/}+${resenas.idResenas}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid" style="width: 285px">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>