<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tecno Topia</title>
        <link rel="stylesheet" href="../estilos/estilos.css" type="text/css">

    </head>
    <body>
        <div class="caja-formulario">
            <div class="izquirda">
                <div class="overlay">
                    <h1>Tecno Topia</h1>
                    <p>Crea una cuenta para acceder a todos nuestros servicios.</p>
                </div>
            </div>
            <div class="derechas">
                <h5>Registro</h5>
                <div class="inputs">
                    <input type="text" placeholder="Nombre de usuario">
                    <br>
                    <input type="email" placeholder="Correo electrónico">
                    <br>
                    <input type="password" placeholder="Contraseña">
                </div>
                <br><br>              
                <a href="inicio_sesion.html">¿Ya tienes una cuenta? Iniciar sesión</a>
                <br><br>
                <a href="index.html"><button>Registrarse</button></a>
            </div>
        </div>
    </body>
</html>
