<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <link th:href="@{/css/estilos.css}" rel="stylesheet" type="text/css"/>
        <title>Tecnotopia</title>
    </head>
    <body class="bodyhome">
        <section th:fragment="inicio_sesion" class="py-4 mb-4 custom-button-container">
            <div class="wrapper">
                <form action="" class="form">
                    <form action="" class="form">
                        <h1 class="title">Inicio de Sesion</h1>
                        <div class="inp">
                            <input type="text" name="" id="" class="input" placeholder="usuario">
                                <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="inp">
                            <input type="password" name="" id="" class="input" placeholder="contraseña">
                                <i class="fa-solid fa-lock"></i>
                        </div>
                        <button class="submit-btn" style="color: #01939c"><a a th:href="@{/inicio/listado}" class="link">Iniciar sesión</a></button>
                        <p class="footer" style="color: #01939c">¿No tienes cuenta?  <a a th:href="@{Registro/Registro}" class="link">Por favor, Regístrate</a></p>   
                    </form>
                </form>
                <div class="banner">
                    <h1 class="wel_text">Bienvenid@</h1>
                    <p class="para" style="color: #01939c">Encuentra todo lo que deseas en Tecnotopia</p>
                </div>
            </div>
        </section>
    </body>
</html>
