<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Tecnotopia</title>
    </head>
    <body>
        <!-- Sección para crear el botón de inicio de sesión -->

        <section th:fragment="botoninicioSesion" class="py-4 mb-4 custom-button-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block custom-button mover-abajo-izquierda" 
                            data-bs-toggle="modal" 
                            data-bs-target="#InicioSesion">
                            <i class="fas fa-user-plus"></i> Iniciar Sesión
                        </button>
                    </div>
                </div>
            </div>
        </section>



        <!-- 2 Fragmento para el formulario de inicio de sesión modal -->
        <section th:fragment="InicioSesion">
            <div id="InicioSesion" 
                 class="modal fade " 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Inicio de Sesión</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/registro}" method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="username">Nombre de usuario</label>
                                    <input type="text" class="form-control" name="username" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="password">Contraseña</label>
                                    <input type="password" class="form-control" name="password" required="true"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>


